@model MoneyManager.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
<a asp-action="Delete" asp-route-userId="@Model.UserId">Delete</a> |
<a asp-controller="Asset" asp-action="Index" asp-route-userId="@Model.UserId">Assets</a> |
<a asp-controller="Transaction" asp-action="Index" asp-route-userId="@Model.UserId">Transactions</a>
<hr />

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
