@model MoneyManager.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<h1>Category Details</h1>
@{
    if (Model.Parent != null)
    {
        <a asp-controller="Category" asp-action="Details" asp-route-categoryId="@Model.Parent.CategoryId">Parent category</a>
        @(" | ")
    }
}
<a asp-controller="Category" asp-action="Create" asp-route-parentId="@Model.CategoryId">Create subcategory</a>
@{
    if (Model.Children.Any())
    {
        @(" | ")
        <a asp-controller="Category" asp-action="Index" asp-route-categoryId="@Model.CategoryId">Child categories</a>
    }
}
<hr />

<h4>Parent</h4>

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Parent.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Parent.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Parent.Type)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Parent.Type)
    </dd>
</dl>

<h4>This Category</h4>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>

<div>
    @{
        if (@Model.Parent == null)
        {
            <a asp-action="Index">Back to List</a>
        }
        else
        {
            <a asp-action="Index" asp-route-categoryId="@Model.Parent.CategoryId">Back to List</a>
        }
    }
</div>