@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
@{
    if (ViewBag.ParentId!=null)
    {
        <a asp-area="" asp-controller="Category" asp-action="Details" asp-route-categoryId="@ViewBag.ParentId" asp-route-userId="@ViewBag.UserId">Parent</a>
        @(" | ")
    }
}
<a asp-area="" asp-controller="Category" asp-action="Create" asp-route-parentId="@ViewBag.ParentId">Create new category</a>
<hr />

<table>
    <tr>
        <th>#</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Type)</th>
    </tr>
    @{
        var i = 1;
        foreach (var category in Model)
        {
        <tr>
            <td>@i</td>
            <td><a asp-area="" asp-controller="Category" asp-action="Details" asp-route-categoryId="@category.CategoryId" asp-route-userId="@ViewBag.UserId">@category.Name</a></td>
            <td>@category.Type</td>
            @{
                if (ViewBag.UserId!=null)
                {
                    if (!category.UserCategories.Any(x => x.UserId==ViewBag.UserId&&x.CategoryId==category.CategoryId))
                    {
                        <td><a asp-area="" asp-controller="Category" asp-action="Add" asp-route-categoryId="@category.CategoryId" asp-route-userId="@ViewBag.UserId">Add</a></td>
                    }
                }
            }
        </tr>
            i++;
        }
    }
</table>